* {
  box-sizing: border-box;
}

a {
	color:#605E5E;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a:hover {
	color:orange;
}

ul {
	list-style-type:none;
}

nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 0 10px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
nav ul {
	padding-left: 100px;
}

footer {
	padding-bottom: 50px;
}

.leftBorder {
	border-left: 1px solid rgba(160,160,160,.61);
}
.header {
	font-size: 70px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: 100;
	text-transform: uppercase;
}
body {
	font-family: "Raleway", sans-serif;
	color:#605E5E;
}
.content {
	width: 800px;
	margin-left: auto;
	margin-right:auto;
}
img {
	width: 100%;
}
footer p {
	color: grey; 
	text-align: center;
}

#aboutSidePicture {
	width:350px; 
	height: 500px; 
	object-fit: cover; 
	object-position: 0 0; 
	padding: 0 20px;
}

#contactSidePicture {
	width: 350px;
	height: 500px;
	object-fit: cover; 
	object-position: 0 0; 
	padding: 0 20px;
	object-position: 25% 0;
}

.underlined {
	text-decoration: underline;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.currentPage {
	color: black;
}

i {
	font-size: 2em;
	padding: 5px 0;
}

.linkIconPadding {
	padding-left: 70px;
}